<!DOCTYPE html>
<html>
    <body>
        <h1>this is ayushi</h1>
        {{name}} am from {{place}}
      <h1>  welcome to the text analyser </h1>
      <form action="/demo" method="get">
            <textarea name="text" style="margin: 0px; width: 640px; height: 146px;">  </textarea><br>
           <input type="checkbox" name="removepunc"> remove punctuations<br>
           <input type="checkbox" name="fullcaps"> UPPERCASE<br>
           <input type="checkbox" name="newlineremover"> New Line Remover<br>
           <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
          
           <button type='submit'>analyse text</button>
      </form>
    </body>
</html>